
tmp/

conf/jwt/consumer/*.conf
conf/jwt/producer/*.conf
conf/dlt/consumer/*.conf
conf/dlt/producer/*.conf
conf/dlt/consumer/*.conf
conf/dlt/producer/*.conf
conf/dsn/consumer/*.conf
conf/dsn/producer/*.conf

conf/jwt/consumer/*.txt
conf/jwt/producer/*.txt
conf/dlt/consumer/*.txt
conf/dlt/producer/*.txt
conf/dlt/consumer/*.txt
conf/dlt/producer/*.txt
conf/dsn/consumer/*.txt
conf/dsn/producer/*.txt

var/html/private/*
var/html/public/*
#include sample html files
!var/html/private/index.*  
!var/html/public/index.*

certs/ssl/default/*
certs/ssl/sample/*
#include sample certificates
!certs/ssl/sample/host.*

