# JWT consumer configuration 

# temporary directory
TMP_DIR="/tmp"

# named pipe
FIFO_OUT="$TMP_DIR/fifo_out"

# local port number
PORT="8888"

# local source address
ADDR="0.0.0.0"

# log
LOG_REQ="$TMP_DIR/requests.log"

# enable ssl/tls
SSL="true"

# ssl/tls certificates
CERTS_DIR="certs/ssl/sample"
HOST_CERT=$CERTS_DIR/example.crt
HOST_KEY=$CERTS_DIR/example.key
