# JWT consumer response configuration

# valid JWT variables
VALID_ALGORITHM="ES256"
VALID_TYP="JWT"
VALID_DLT="namecoin"
VALID_DSN="ipfs"

# authorization based on social graph
AUTHORIZATION="true"
PROFILE_URI="/ipns/<hash>/name.rdf"

# document root
DOCUMENT_ROOT="var/www"

# cache
TOKEN_CACHE="$TMP_DIR/token_cache.dat"
PROFILE_URI_CACHE="$TMP_DIR/profile_uri"


